* {
  font-family: 'Roboto', sans-serif;
}

.body {
  display: flex;
  position: relative;
}

#img-banner {
  max-width: 100%;
  max-height: 200px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}


/* Main Div */

.main {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 10px;
  text-align: center;
  padding-bottom: 5px;
  padding-right: 5px;
}


/* Text on screen */

.labels {
  color: white;
  font-size: 22px;
}


/* Dropdown Button */

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.span {
  margin: 10px;
  display: block;
}

.vertical-spacer {
  margin: 20px;
  padding-bottom: 20px;
  display: grid;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  justify-content: center;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: relative;
  min-width: 80px;
  min-height: 10px;
  z-index: 1;
  cursor: pointer;
  font-size: 0px;
  text-align: center;
  padding-bottom: 5px;
  padding-right: 5px;
}


/* Links inside the dropdown */

.dropdown-content p {
  position: relative;
  color: black;
  border: 1px solid black;
  font-size: 16px;
  padding: 3px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content p:hover {
  background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
  justify-content: center;
  text-align: center;
}

.chart-div {
  display: none;
  width: 100%;
}

.chart-div-show {
  display: inline-block;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pad {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}


/* Header */

.header {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
}

.wrapper {
  text-align: center;
}


/* Divs */

.tabcontent {
  text-align: center;
  padding-bottom: 5px;
  padding-right: 5px;
}


/* Divs */

.chartContent {
  text-align: center;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 68%;
}

.descriptionContent {
  width: 68%;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 30px;
}

.traitButtons {
  display: block;
}

/* The sim selection div */

#sims-div {
  max-width: 890px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #50575f;
  padding: 0px;
  margin-bottom: 5px;
}

#sims-btn-wrapper {
  display: grid;
  gap: 1px;
  background-color: #50575f;
  padding-bottom: 0px;
}

#sims-btn-wrapper .button {
  border: none;
  border-radius: 0px;
  padding: 10px;
  display:flex;
  align-items: center;
}

#sims-btn-wrapper .button:first-child {
  border-top-left-radius: 8px;
}

#sims-btn-wrapper .button:nth-child(7) {
  border-top-right-radius: 8px;
}

#sims-btn-wrapper .button:nth-child(15) {
  border-bottom-left-radius: 8px;
}

#sims-btn-wrapper .button:nth-child(21) {
  border-bottom-right-radius: 8px;
}

.sims-btn-icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 25%;
}

/* Buttons */

.button {
  background-color: #343a40;
  color: white;
  padding: 15px 15px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  justify-content: center;
  cursor: pointer;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #50575f;
}

.button:hover {
  background-color: #21252b;
}

.button:first-child {
  border-radius: 8px 0px 0px 8px;
}

.button:last-child {
  border-radius: 0px 8px 8px 0px;
  border-right: 1px solid #50575f;
}

.button.selected {
  background-color: #330066;
  margin-left: 0px;
  /* !important used to override #sims-div .button clearing border. */
  border: 1px solid #dda0dd !important;
}

.button.selected:hover {
  background-color: #2c0058;
}

/* Footer */

.footer {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
}

.wcp {
  background-image: url("https://warcraftpriests.com/");
  border-radius: 20%;
  width: 50px;
  height: 40px;
  padding: 10px;
  float: bottom;
  margin-bottom: -15px;
  background: #212226;
}

.fa-instagram {
  background-image: url("https://warcraftpriests.com/");
}

.fab {
  padding: 10px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

.fab:hover {
  opacity: 0.7;
}

.fa-github {
  background: #24292e;
  color: white;
}

.fa-discord {
  background: #7289DA;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #f45750;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitch {
  background: #6441a5;
  color: white;
}

.fa-patreon {
  background: #e44727;
  color: white;
}

.chartHover {
  margin-top: -4px;
  margin-bottom: -6px;
  margin-left: -11px;
  margin-right: -7px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-right: 3px;
  background-color: #343a40;
}

.chartHoverLine {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 6px;
  font-size: 14px;
}

.chartHoverSpan {
  margin-left: 9px;
  padding-left: 4px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: #343A40;
  width: 100%;
}

td,
th {
  border: 1px solid #343A40;
  text-align: center;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: #52585e;
}

section {
  color: white;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  max-width: 800px;
}

section a {
  color: #a335ee;
}